.container {
  background-color: rgb(29, 32, 38);
  padding: 72px 20px;
  min-height: 100vh;
}

.container .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1920px;
}
